services:
    app:
        image: apotik-app
        build:
            args:
                user: harry
                uid: 1000
            context: ./
            dockerfile: Dockerfile.dev
        container_name: apotik-app
        working_dir: /var/www/
        restart: unless-stopped
        # ports:
        #     - "8001:8000" # Menghindari konflik port dengan Nginx
        environment:
            - COMPOSER_MEMORY_LIMIT=-1
        volumes:
            - ./:/var/www
        networks:
            - harrynet
        depends_on:
            - db
            - redis
            # db:
            #     condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "php -v || exit 1"]
            interval: 20s
            timeout: 5s
            retries: 3
            start_period: 30s

    db:
        image: mysql:5.7
        platform: linux/amd64
        container_name: mysql_apotik
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-local_laravel}
            MYSQL_USER: ${DB_USERNAME:-local_developer}
            MYSQL_PASSWORD: ${DB_PASSWORD:-secret}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-secret}
        ports:
            - "3355:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            # - ./docker-compose/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
        networks:
            - harrynet
        healthcheck:
            test:
                [
                    "CMD",
                    "mysqladmin",
                    "ping",
                    "-h",
                    "localhost",
                    "-uroot",
                    "-p${DB_PASSWORD:-secret}",
                ]
            interval: 15s
            timeout: 10s
            retries: 15
            start_period: 40s

    nginx:
        build:
            context: ./docker-compose/nginx
            dockerfile: Dockerfile.khs
        image: apotik-nginx
        container_name: nginx_apotik
        restart: unless-stopped
        depends_on:
            app:
                condition: service_healthy
        ports:
            # - "8182:80"
            - "8185:80"
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d
        # khusus di sunan ampel
        # - /home/kentang/APP/api.apotik:/var/www
        # - /home/kentang/APP/api.apotik/docker-compose/nginx:/etc/nginx/conf.d
        networks:
            - harrynet
        healthcheck:
            test: ["CMD-SHELL", "curl -s -I http://localhost || exit 0"]
            interval: 10s
            timeout: 10s
            retries: 15
            start_period: 90s

    redis:
        image: redis:7
        container_name: redis-server-apotik
        restart: unless-stopped
        volumes:
            - redis_data:/data
        ports:
            - "26749:6379"
        networks:
            - harrynet

    # scheduler:
    #     image: apotik-app # Pakai image dari app
    #     container_name: apotik-scheduler
    #     command: ["php", "artisan", "schedule:work"]
    #     depends_on:
    #         - app
    #         - redis
    #         - db
    #     volumes:
    #         - ./:/var/www
    #     env_file:
    #         - .env
    #     networks:
    #         - harrynet

volumes:
    mysql_data:
    redis_data:

networks:
    harrynet:
        driver: bridge
